export(ordpp)
export(ordpp_index)
export(validate_ordpp)
export(decompose_ordpp)
export(heldout_test_ordpp)
export(permutation_ordpp)
export(stability_ordpp)
export(as_ordpp_map)
export(simulate_ordpp)
S3method(predict,ordpp)
S3method(print,ordpp)
S3method(plot,ordpp)
S3method(print,ordpp_test)
S3method(print,ordpp_stability)
importFrom(stats,optim,rnorm,rbinom,prcomp)
importFrom(graphics,plot,matplot,legend)
